  
      <nav class="site-menu">
            <ul>
                <li *ngIf="!user.admin" routerLinkActive="active">
                    <a routerLink="/home" href="">
                        <span>System Builder</span>
                    </a>
                </li>
                <li *ngIf="!user.admin" routerLinkActive="active">
                    <a routerLink="/orders-page" href="">
                        <span>My Orders</span>
                    </a>
                </li>
                <li *ngIf="!user.admin" routerLinkActive="active">
                    <a routerLink="/orders-page" href="">
                        <span> My Profile</span>
                    </a>
                </li>
                <li *ngIf="user.admin" routerLinkActive="active">
                    <a routerLink="/orders-page" href="">
                        <span></span>
                    </a>
                </li>
            </ul>
        </nav>

        
      
     
      
        <!-- Toolbar-->
    
<!-- Navbar-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
