<app-navigation-bar>
</app-navigation-bar>
<div #displayDetails class="itemDetails">
    <!-- <button href="#" (click)="closeActive()" class="closeButton">
       X
    </button> -->
    <table>
        <thead>
            <th *ngFor="let headin of itemDetails;index as ind">{{headin}}</th>

        </thead>
        <tbody>
            <tr *ngFor="let item of items;index as ind" >
                <td *ngFor="let headin of itemDetails">{{item[headin]}}</td>
            </tr>
        
        </tbody>
    </table>
    <!-- <button (click)="selectItem()" class="closeButton selectButton">SELECT</button> -->
</div>